-- AlterEnum
ALTER TYPE "EndReason" ADD VALUE 'DRAW_INSUFFICIENT_MATERIAL';

-- DropIndex
DROP INDEX "games_league_game_id_key";

-- DropIndex
DROP INDEX "matchmaking_queue_time_ms_joined_at_idx";

-- DropIndex
DROP INDEX "puzzle_attempts_user_puzzle_idx";

-- DropIndex
DROP INDEX "puzzles_published_idx";

-- DropIndex
DROP INDEX "puzzles_status_diff_idx";

-- DropIndex
DROP INDEX "tournaments_country_idx";

-- DropIndex
DROP INDEX "tournaments_scope_idx";

-- DropIndex
DROP INDEX "tournaments_status_idx";

-- DropIndex
DROP INDEX "idx_users_displayname_trgm";

-- DropIndex
DROP INDEX "idx_users_username_trgm";

-- AlterTable
ALTER TABLE "ai_challenge_sessions" DROP COLUMN "result",
ADD COLUMN     "result" "AiChallengeResult";

-- AlterTable
ALTER TABLE "games" DROP COLUMN "analysed_at",
DROP COLUMN "black_guest_name",
DROP COLUMN "league_game_id",
DROP COLUMN "pdn",
DROP COLUMN "white_guest_name";

-- AlterTable
ALTER TABLE "moves" DROP COLUMN "best_move",
DROP COLUMN "eval_after",
DROP COLUMN "eval_before",
DROP COLUMN "eval_loss",
DROP COLUMN "fen_after",
DROP COLUMN "fen_before",
DROP COLUMN "move_class";

-- AlterTable
ALTER TABLE "otp_codes" ALTER COLUMN "purpose" DROP DEFAULT;

-- AlterTable
ALTER TABLE "puzzle_attempts" DROP COLUMN "attempted_at",
ADD COLUMN     "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
ALTER COLUMN "solved" SET DEFAULT false;

-- AlterTable
ALTER TABLE "puzzles" DROP COLUMN "eval_gap",
DROP COLUMN "side_to_move",
ADD COLUMN     "evalGap" INTEGER NOT NULL DEFAULT 0,
ADD COLUMN     "sideToMove" TEXT NOT NULL,
ALTER COLUMN "difficulty" SET DEFAULT 3,
ALTER COLUMN "theme" SET NOT NULL,
ALTER COLUMN "theme" SET DEFAULT 'tactical',
DROP COLUMN "status",
ADD COLUMN     "status" TEXT NOT NULL DEFAULT 'PENDING',
ALTER COLUMN "published_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3);

-- AlterTable
ALTER TABLE "saved_studies" ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3);

-- AlterTable
ALTER TABLE "tournament_matches" ALTER COLUMN "started_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "completed_at" SET DATA TYPE TIMESTAMP(3);

-- AlterTable
ALTER TABLE "tournament_participants" ALTER COLUMN "registered_at" SET DATA TYPE TIMESTAMP(3);

-- AlterTable
ALTER TABLE "tournament_rounds" ALTER COLUMN "started_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "completed_at" SET DATA TYPE TIMESTAMP(3);

-- AlterTable
ALTER TABLE "tournaments" ALTER COLUMN "registration_deadline" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "scheduled_start_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "updated_at" DROP DEFAULT,
ALTER COLUMN "updated_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "round_duration_minutes" SET NOT NULL;

-- CreateTable
CREATE TABLE "follows" (
    "id" TEXT NOT NULL,
    "follower_id" TEXT NOT NULL,
    "following_id" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "follows_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "follows_follower_id_idx" ON "follows"("follower_id");

-- CreateIndex
CREATE INDEX "follows_following_id_idx" ON "follows"("following_id");

-- CreateIndex
CREATE UNIQUE INDEX "follows_follower_id_following_id_key" ON "follows"("follower_id", "following_id");

-- CreateIndex
CREATE INDEX "puzzles_status_idx" ON "puzzles"("status");

-- CreateIndex
CREATE INDEX "puzzles_difficulty_idx" ON "puzzles"("difficulty");

-- CreateIndex
CREATE INDEX "puzzles_theme_idx" ON "puzzles"("theme");

-- CreateIndex
CREATE INDEX "puzzles_source_game_id_idx" ON "puzzles"("source_game_id");

-- CreateIndex
CREATE INDEX "ratings_rating_idx" ON "ratings"("rating");

-- CreateIndex
CREATE INDEX "tournament_matches_current_game_id_idx" ON "tournament_matches"("current_game_id");

-- CreateIndex
CREATE INDEX "users_country_idx" ON "users"("country");

-- CreateIndex
CREATE INDEX "users_country_region_idx" ON "users"("country", "region");

-- AddForeignKey
ALTER TABLE "games" ADD CONSTRAINT "games_tournament_match_game_id_fkey" FOREIGN KEY ("tournament_match_game_id") REFERENCES "tournament_match_games"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "puzzles" ADD CONSTRAINT "puzzles_source_game_id_fkey" FOREIGN KEY ("source_game_id") REFERENCES "games"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "puzzle_attempts" ADD CONSTRAINT "puzzle_attempts_puzzle_id_fkey" FOREIGN KEY ("puzzle_id") REFERENCES "puzzles"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "puzzle_attempts" ADD CONSTRAINT "puzzle_attempts_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "follows" ADD CONSTRAINT "follows_follower_id_fkey" FOREIGN KEY ("follower_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "follows" ADD CONSTRAINT "follows_following_id_fkey" FOREIGN KEY ("following_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tournaments" ADD CONSTRAINT "tournaments_created_by_id_fkey" FOREIGN KEY ("created_by_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tournament_participants" ADD CONSTRAINT "tournament_participants_tournament_id_fkey" FOREIGN KEY ("tournament_id") REFERENCES "tournaments"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tournament_participants" ADD CONSTRAINT "tournament_participants_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tournament_rounds" ADD CONSTRAINT "tournament_rounds_tournament_id_fkey" FOREIGN KEY ("tournament_id") REFERENCES "tournaments"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tournament_matches" ADD CONSTRAINT "tournament_matches_round_id_fkey" FOREIGN KEY ("round_id") REFERENCES "tournament_rounds"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tournament_match_games" ADD CONSTRAINT "tournament_match_games_match_id_fkey" FOREIGN KEY ("match_id") REFERENCES "tournament_matches"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- RenameIndex
ALTER INDEX "puzzle_attempts_puzzle_idx" RENAME TO "puzzle_attempts_puzzle_id_idx";

-- RenameIndex
ALTER INDEX "puzzle_attempts_user_idx" RENAME TO "puzzle_attempts_user_id_idx";

